<section class="desktop">
	<div class="navigation">
		<a goto="/terminal">
			<span class='icon'>&#xf04d;</span>
			<span>Terminal</span>
		</a>
	</div> 
	<div class="footer">
		<a goto="/settings">
			<span class='icon'>&#xf337;</span>
			<span>Settings</span>
		</a>
	</div>
</section>

<section class="mobile">
	<span class="navigation">
		<a goto="/terminal">
			<span class='icon'>&#xf04d;</span>
			<span>Terminal</span>
		</a>
		<a goto="/settings">
			<span class='icon'>&#xf337;</span>
			<span>Settings</span>
		</a>
	</span> 
</section>